:root{
    --vermelho:#e50914;
    --preta:#141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/
body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color:white;
    
}

header .container{
   display: flex;
    align-items: center;
    
}

header .logo{
    color: var(--vermelho);
    font-family:  times;
    font-size: 30px;
    margin: 12px 30px 12px 0;
        
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-size: 20px; 
   
    
}

header nav a:hover{
    color:#fff;
}
/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(../img/demolidor02.jpg);
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    
    margin: 0px 0px 40px 0px;
    opacity: 0.75;
    text-transform: capitalize;

}

.filme-principal .titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15%;
    opacity: 0.75;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;
    padding: 15px 30px ;
    margin: 80px 15px 25px  0px;
    font-size: 12px;
    cursor: pointer;
    transition: 3s ease all;
    height: 50px;

}

.botao a{
    text-decoration: none;
}

.botao:hover{
    background-color: white;
    color: black;
    
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%; 
}

.box-filmes{
    height: 100%;
    width: 100%;    
    display: block;
   
}

.carrosel-filmes{
    margin-top: 5px;
}
